.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #eadded;
}

/* Estilo cuando el tema es oscuro */
.App.dark .todo-item {
  background-color: #443652;
  border-bottom: 1px solid #7b6891;
}

.task-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task-text {
  font-size: 1.1em;
}

.todo-item.completed .task-text {
  text-decoration: line-through;
  color: #a88bad;
}

.delete-btn {
  background: none;
  border: none;
  color: #ff4d4d;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 4px;
}
.delete-btn:hover {
  background-color: rgba(255, 77, 77, 0.1);
}