.todo-list-container, .list-completed-history, .list-deleted-history {
    margin: 20px auto;
    padding: 20px;
    max-width: 500px;
    background-color: #e2cff1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
}

.add-task-form {
  display: flex;
  margin-bottom: 20px;
}

.add-task-form input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.delete-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.complete-button {
  background-color: #3c9ae7;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.add-task-form button {
  padding: 10px 15px;
  border: none;
  background-color: #7a4b96;
  color: white;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}

.ul {
  list-style-type: none;
  padding: 0;
}

.items-history {
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #eadded;
  color: black;
  list-style-type: none;
  text-align: left;
}

.App.dark .items-history {
  background-color: #443652;
  border-bottom: 1px solid #7b6891;
  color: white;
}