.not-found-container {
    text-align: center;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2 {
    font-size: 72px;
    margin: 0;
    color: red;
}

